<!doctype html>
<html lang=ja class=h-100>
<head>
    <meta charset=utf-8>
    <meta http-equiv=content-language content=ja>
    <meta http-equiv=x-ua-compatible content="IE=edge">
    <meta name=”ROBOTS” content=”NOINDEX,NOFOLLOW,NOARCHIVE”>
    <meta name=viewport content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <title>マイページ - E wadaE</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel=stylesheet href="https://fonts.googleapis.com/css?family=Noto+Sans+JP">
</head>
<body class="d-flex flex-column h-100 bg-light">
    <header class=mb-2>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
            <a class="navbar-brand" href="#">E wadaE</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">ログイン</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">会員登録</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">マイページ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">ログアウト</a>
                </li>
                </ul>
            </div>
            </div>
        </nav>
    </header>



    <main class= "container flex-shrink-0">
        <h1>マイページ</h1>
        <div class="my-3 p-5 bg-white rounded shadow-sm">
            <h2>共有用URL</h2>
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="shareurl">
                <button class="btn btn-outline-secondary" type="button" id="sharecopybutton">共有のためにコピー</button>
            </div>
        </div>
        <div class="my-3 p-5 bg-white rounded shadow-sm">
            <h2>自分の情報</h2>
            <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <label for="inputPassword6" class="col-form-label">年齢　　　　　</label>
                </div>
                <div class="col-auto">
                    <input type="" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
                </div>
                <div class="col-auto">
                    <span id="passwordHelpInline" class="form-text">
                        半角英数字
                    </span>
                </div>
            </div>

            <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <label for="inputPassword6" class="col-form-label">出身校　　　　</label>
                </div>
                <div class="col-auto">
                    <input type="" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
                </div>
                <div class="col-auto">
                    <span id="passwordHelpInline" class="form-text">
                        例) 東京大学
                    </span>
                </div>
            </div>

            <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <label for="inputPassword6" class="col-form-label">出身地　　　　</label>
                </div>
                <div class="col-auto">
                    <select class="form-select" aria-label="Default select example">
                        <option value=1>北海道</option>
                        <option value=2>青森県</option>
                        <option value=3>岩手県</option>
                        <option value=4>宮城県</option>
                        <option value=5>秋田県</option>
                        <option value=6>山形県</option>
                        <option value=7>福島県</option>
                        <option value=8>茨城県</option>
                        <option value=9>栃木県</option>
                        <option value=10>群馬県</option>
                        <option value=11>埼玉県</option>
                        <option value=12>千葉県</option>
                        <option value=13>東京都</option>
                        <option value=14>神奈川県</option>
                        <option value=15>新潟県</option>
                        <option value=16>富山県</option>
                        <option value=17>石川県</option>
                        <option value=18>福井県</option>
                        <option value=19>山梨県</option>
                        <option value=20>長野県</option>
                        <option value=21>岐阜県</option>
                        <option value=22>静岡県</option>
                        <option value=23>愛知県</option>
                        <option value=24>三重県</option>
                        <option value=25>滋賀県</option>
                        <option value=26>京都府</option>
                        <option value=27>大阪府</option>
                        <option value=28>兵庫県</option>
                        <option value=29>奈良県</option>
                        <option value=30>和歌山県</option>
                        <option value=31>鳥取県</option>
                        <option value=32>島根県</option>
                        <option value=33>岡山県</option>
                        <option value=34>広島県</option>
                        <option value=35>山口県</option>
                        <option value=36>徳島県</option>
                        <option value=37>香川県</option>
                        <option value=38>愛媛県</option>
                        <option value=39>高知県</option>
                        <option value=40>福岡県</option>
                        <option value=41>佐賀県</option>
                        <option value=42>長崎県</option>
                        <option value=43>熊本県</option>
                        <option value=44>大分県</option>
                        <option value=45>宮崎県</option>
                        <option value=46>鹿児島県</option>
                        <option value=47>沖縄県</option>
                    </select>
                </div>
            </div>

            <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <label for="inputPassword6" class="col-form-label">居住地　　　　</label>
                </div>
                <div class="col-auto">
                    <select class="form-select" aria-label="Default select example">
                        <option value=1>北海道</option>
                        <option value=2>青森県</option>
                        <option value=3>岩手県</option>
                        <option value=4>宮城県</option>
                        <option value=5>秋田県</option>
                        <option value=6>山形県</option>
                        <option value=7>福島県</option>
                        <option value=8>茨城県</option>
                        <option value=9>栃木県</option>
                        <option value=10>群馬県</option>
                        <option value=11>埼玉県</option>
                        <option value=12>千葉県</option>
                        <option value=13>東京都</option>
                        <option value=14>神奈川県</option>
                        <option value=15>新潟県</option>
                        <option value=16>富山県</option>
                        <option value=17>石川県</option>
                        <option value=18>福井県</option>
                        <option value=19>山梨県</option>
                        <option value=20>長野県</option>
                        <option value=21>岐阜県</option>
                        <option value=22>静岡県</option>
                        <option value=23>愛知県</option>
                        <option value=24>三重県</option>
                        <option value=25>滋賀県</option>
                        <option value=26>京都府</option>
                        <option value=27>大阪府</option>
                        <option value=28>兵庫県</option>
                        <option value=29>奈良県</option>
                        <option value=30>和歌山県</option>
                        <option value=31>鳥取県</option>
                        <option value=32>島根県</option>
                        <option value=33>岡山県</option>
                        <option value=34>広島県</option>
                        <option value=35>山口県</option>
                        <option value=36>徳島県</option>
                        <option value=37>香川県</option>
                        <option value=38>愛媛県</option>
                        <option value=39>高知県</option>
                        <option value=40>福岡県</option>
                        <option value=41>佐賀県</option>
                        <option value=42>長崎県</option>
                        <option value=43>熊本県</option>
                        <option value=44>大分県</option>
                        <option value=45>宮崎県</option>
                        <option value=46>鹿児島県</option>
                        <option value=47>沖縄県</option>
                    </select>
                </div>
            </div>

            <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <label for="inputPassword6" class="col-form-label">職種　　　　　</label>
                </div>
                <div class="col-auto">
                    <select class="form-select" aria-label="Default select example">
                        <option value=1>学生</option>
                        <option value=2>営業</option>
                        <option value=3>販売</option>
                        <option value=4>飲食・フード</option>
                        <option value=5>サービス・警備・清掃</option>
                        <option value=6>イベント・レジャー・娯楽</option>
                        <option value=7>教育・スポーツ</option>
                        <option value=8>理・美容</option>
                        <option value=9>医療・介護・福祉</option>
                        <option value=10>ドライバー・配達</option>
                        <option value=11>事務・オフィスワーク</option>
                        <option value=12>製造・工場</option>
                        <option value=13>IT・エンジニア</option>
                        <option value=14>編集・出版</option>
                        <option value=15>土木・建築・農水産</option>
                        <option value=16>その他</option>
                    </select>
                </div>
            </div>

            <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <label for="inputPassword6" class="col-form-label">最近行った場所</label>
                </div>
                <div class="col-auto">
                    <select class="form-select" aria-label="Default select example">
                        <option value=1>公園</option>
                        <option value=2>遊園地</option>
                        <option value=3>動物園</option>
                        <option value=4>博物館</option>
                        <option value=5>果樹園</option>
                        <option value=6>水族館</option>
                        <option value=7>観光地</option>
                        <option value=8>プール・海</option>
                        <option value=9>キャンプ場</option>
                        <option value=10>スキー場</option>
                        <option value=11>県外のどこか</option>
                        <option value=12>その他</option>
                    </select>
                </div>
            </div>

            <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <label for="inputPassword6" class="col-form-label">最近買ったもの</label>
                </div>
                <div class="col-auto">
                    <select class="form-select" aria-label="Default select example">
                        <option value=1>衣服</option>
                        <option value=2>電化製品</option>
                        <option value=3>ゲーム</option>
                        <option value=4>日用品</option>
                        <option value=5>食べ物</option>
                        <option value=6>その他</option>
                    </select>
                </div>
            </div>

            <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <label for="inputPassword6" class="col-form-label">好きな食べ物　</label>
                </div>
                <div class="col-auto">
                    <select class="form-select" aria-label="Default select example">
                        <option value=1>和食</option>
                        <option value=2>洋食</option>
                        <option value=3>スイーツ</option>
                        <option value=4>肉料理</option>
                        <option value=5>鍋料理</option>
                        <option value=6>その他</option>
                    </select>
                </div>
            </div>

            <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <label for="inputPassword6" class="col-form-label">好きな映画　　</label>
                </div>
                <div class="col-auto">
                    <select class="form-select" aria-label="Default select example">
                        <option value=1>アクション</option>
                        <option value=2>恋愛</option>
                        <option value=3>SF</option>
                        <option value=4>アドベンチャー</option>
                        <option value=5>ファンタジー</option>
                        <option value=6>ホラー</option>
                        <option value=7>サスペンス</option>
                        <option value=8>ミステリー</option>
                        <option value=9>コメディ</option>
                        <option value=10>日常</option>
                        <option value=11>スポーツ</option>
                        <option value=12>ロボット</option>
                        <option value=13>その他</option>
                    </select>
                </div>
            </div>

            <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <label for="inputPassword6" class="col-form-label">好きなアニメ　</label>
                </div>
                <div class="col-auto">
                    <select class="form-select" aria-label="Default select example">
                        <option value=1>アクション</option>
                        <option value=2>恋愛</option>
                        <option value=3>SF</option>
                        <option value=4>アドベンチャー</option>
                        <option value=5>ファンタジー</option>
                        <option value=6>ホラー</option>
                        <option value=7>サスペンス</option>
                        <option value=8>ミステリー</option>
                        <option value=9>コメディ</option>
                        <option value=10>日常</option>
                        <option value=11>スポーツ</option>
                        <option value=12>ロボット</option>
                        <option value=13>その他</option>
                    </select>
                </div>
            </div>

            <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <label for="inputPassword6" class="col-form-label">趣味　　　　　</label>
                </div>
                <div class="col-auto">
                    <select class="form-select" aria-label="Default select example">
                        <option value=1>運動</option>
                        <option value=2>キャンプ</option>
                        <option value=3>スキー</option>
                        <option value=4>サーフィン</option>
                        <option value=5>ドライブ</option>
                        <option value=6>ゲーム</option>
                        <option value=7>読書</option>
                        <option value=8>映画鑑賞</option>
                        <option value=9>その他</option>
                    </select>
                </div>
                <div class="col-auto">
                    <select class="form-select" aria-label="Default select example">
                        <option value=1>運動</option>
                        <option value=2>キャンプ</option>
                        <option value=3>スキー</option>
                        <option value=4>サーフィン</option>
                        <option value=5>ドライブ</option>
                        <option value=6>ゲーム</option>
                        <option value=7>読書</option>
                        <option value=8>映画鑑賞</option>
                        <option value=9>その他</option>
                    </select>
                </div>
                <div class="col-auto">
                    <select class="form-select" aria-label="Default select example">
                        <option value=1>運動</option>
                        <option value=2>キャンプ</option>
                        <option value=3>スキー</option>
                        <option value=4>サーフィン</option>
                        <option value=5>ドライブ</option>
                        <option value=6>ゲーム</option>
                        <option value=7>読書</option>
                        <option value=8>映画鑑賞</option>
                        <option value=9>その他</option>
                    </select>
                </div>
            </div>

            
            <button type="button" class="btn btn-outline-secondary">登録！</button>
        </div>
    </main>



    <footer class="footer mt-auto py-4 bg-light">
        <div class="container text-center josefin">
            &copy; 2021　共通項なくてもEじゃん
        </div>
    </footer>
    <script src = "static/js/selected.js">
    </script>
    <script>
        url = "http://ec2-18-222-210-94.us-east-2.compute.amazonaws.com:5000/"  + {% users.usename %} + "login";
        window.onload = function(){
            document.querySelector("#shareurl").value =　url;
        }
        document.querySelector("#sharecopybutton").onclick=function(){
            document.querySelector("#shareurl").select();
            document.execCommand("copy");
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>
